@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.recruit{
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.43)
  /* text-shadow: 0 1px 0 #dd1010, 0 2px 0 #f707db, 0 3px 0 #09e01b, 0 4px 0 #ffcc00, 0 5px 0 #fd0202, 0 6px 0 #01f9aa, 0 7px 0 #2efb00, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3); */
}

.swing {
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float:left;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

@keyframes swing {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
